<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Sitio Web</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'registro' %}">Registrarse</a></li>
            <li><a href="{% url 'inicio_sesion' %}">Iniciar Sesión</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'perfil' %}">Mi Perfil</a></li>
                <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
